REACT_APP_API_URL=https://brahmadzen.space
REACT_APP_EXTERNAL_API_URL=https://brahmadzen.space/data
REACT_APP_ROMSERV_URL=https://brahmadzen.space/romserv
EMUL_URL=https://brahmadzen.space/emulator/?core=


