
  .wrap {
    display: flex;
    justify-content: center; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.content{
  display: flex;
  justify-content: center; 
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;

}

.navbar {
  display: flex;
  justify-content: center; 
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
