.pageWrap {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; Займає мінімальну висоту екрана */
    width: 100%;
    max-width: 1200px; /* Максимальна ширина контенту (можете змінити) */
    margin: 0 auto; /* Центрування по горизонталі */
    padding: 30px; /* Відступи за замовчуванням для дуже великих екранів */
  }

  *{
    color: rgb(221, 213, 203);
  }
  
  /* Адаптивні стилі для різних розмірів екранів */
  
  /* Дуже великі екрани (більше 1400px) */
  @media (max-width: 1400px) {
    .pageWrap {
      padding: 5px;
    }
  }
  
  /* Великі екрани (до 1200px) */
  @media (max-width: 1200px) {
    .pageWrap {
      padding: 2px;
    }
  }
  
  /* Середні екрани (до 992px) - наприклад, планшети */
  @media (max-width: 992px) {
    .pageWrap {
      padding: 1px;
    }
  }
  
  /* Малі екрани (до 768px) - наприклад, великі смартфони */
  @media (max-width: 768px) {
    .pageWrap {
      padding: 1px;
    }
  }
  
  /* Дуже малі екрани (до 576px) - наприклад, маленькі смартфони */
  @media (max-width: 576px) {
    *{
        padding: 1px;
    }
    
  }
  
  /* Найменші екрани (до 320px) */
  @media (max-width: 320px) {
    .pageWrap {
      padding: 2px;
    }
  }
  
