# Зависимости и сгенерированные файлы Node.js
node_modules/
.pnp/
.pnp.js
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# Файлы, специфичные для MacOS
.DS_Store

# Файлы, специфичные для вашего приложения (хранение файлов)
uploads/
storage/
CloudFile
riot.txt
Hyss-Setup-0.1.0.exe

# Файлы окружения (чувствительные данные)
.env
.env*.local
.env.local

# Отчеты о покрытии тестами
coverage/

# Опционально: если у вас гибридный проект Next.js/Vercel
# .next/
# out/
# .vercel/

# Приватные ключи (если есть, не должны быть в Git)
*.pem