.categoryTabs {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    display: flex;
    border-bottom: 1px solid #ccc;
  }
  
  .categoryTabs li {
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
  }
  
  .categoryTabs li.active {
    border-bottom: 2px solid orange; /* Або колір вашої активної вкладки */
    font-weight: bold;
  }
  
  .categoryTabs li:hover {
    background-color: #f0f0f0;
  }