.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 15px;
}

.welcome-content {
  padding: 10px;
  border-radius: 10px;
  color: #000;
  max-width: 800px;

  margin: 10px;
}

.welcome-content h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.welcome-content h2 {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.welcome-content p,
.welcome-content ul {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.welcome-content ul {
  list-style-type: disc;
  margin-left: 10px;
}

.start {
  display: flex;
  font-display: row;
}

.start-item {
  margin: 10px;
}

.start-wrap {
  background-color: #00b1f74b;
  padding: 20px;
  border-radius: 10px;
}
